#footer
 table.row
    tr
        td.wrapper.last
          table.twelve.columns
            tr
              td(align='center')
                center
                  p(style='text-align:center;')
                    a(href='#') Terms
                    |  | 
                    a(href='#') Privacy
                    |  | 
                    a(href='#') Unsubscribe
              |                           
              td.expander