#header
 table.row.header
    tbody
        tr
          td.center(align='center')
            center
              table.container
                tbody
                  tr
                    td.wrapper.last
                      table.twelve.columns
                        tbody
                          tr
                            td.six.sub-columns
                              img(src='http://placehold.it/200x50')
                            |                             
                            td.six.sub-columns.last(style='text-align:right; vertical-align:middle;')
                              span.template-label BASIC
                            |                             
                            td.expander
