link(rel='stylesheet', href='https://dl.dropboxusercontent.com/u/105847531/mail-style.css')
table.container
    tbody
        tr
          td
            table.row
              tbody
                tr
                  td.wrapper.last
                    table.twelve.columns
                      tbody
                        tr
                          td
                            p.lead="Welcome, "+data.fName+" "+data.lName
                            |                 &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                              | Your account has been created
                          |                           
                          td.expander
            |                 
            table.row.callout
              tbody
                tr
                  td.wrapper.last
                    table.twelve.columns
                      tbody
                        tr
                          td.panel
                            p
                              | Click on the link to validate your email address 
                              a(href='#') Confirm  &raquo;
                          |                           
                          td.expander