doctype html
html(lang="en")
 block head
    meta(charset='UTF-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    title= title
    link(rel='stylesheet', href='../assets/css/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel='stylesheet', href='../assets/css/MaterialIcon.css')    
    link(rel='stylesheet', href="../deps/angular-material/angular-material.css")
    link(rel='stylesheet', href="../deps/angular-loading-bar/build/loading-bar.min.css")
    script(type="text/javascript", src="../deps/angular/angular.js")
    script(type="text/javascript", src="../deps/angular-animate/angular-animate.js")
    script(type="text/javascript", src="../deps/angular-aria/angular-aria.js")
    script(type="text/javascript", src="../deps/angular-messages/angular-messages.js")
    script(type="text/javascript", src="../deps/angular-route/angular-route.js")
    script(type="text/javascript", src="../deps/angular-material/angular-material.js")
    script(type="text/javascript", src="../deps/angular-sanitize/angular-sanitize.js")
    script(type="text/javascript", src="../deps/angular-loading-bar/build/loading-bar.min.js")
    script(type="text/javascript", src="../deps/angular-resource/angular-resource.js")
    script(type="text/javascript", src="../deps/angular-material-data-table/dist/md-data-table.min.js")
    script(type="text/javascript", src="../deps/ng-file-upload-shim/ng-file-upload.min.js")
    script(type="text/javascript", src="../assets/js/cities.js")
    script(type="text/javascript", src="../deps/ng-img-crop/compile/minified/ng-img-crop.js")
    script(type="text/javascript", src="../deps/ng-img-crop/compile/minified/ng-img-crop.js")
    link(rel="stylesheet", href="../deps/ng-img-crop/compile/minified/ng-img-crop.css")
    link(rel="stylesheet", href="../deps/angular-material-data-table/dist/md-data-table.min.css")
    script(type="text/javascript" src="http://localhost:35729/livereload.js")
    <base href="/">
   block content