doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href="../deps/angular-material/angular-material.css")
    script(types="text/javascript", src="../deps/angular/angular.js")
    script(types="text/javascript", src="../deps/angular-animate/angular-animate.js")
    script(types="text/javascript", src="../deps/angular-aria/angular-aria.js")
    script(types="text/javascript", src="../deps/angular-messages/angular-messages.js")
    script(types="text/javascript", src="../deps/angular-route/angular-route.js")
    script(types="text/javascript", src="../deps/angular-material/angular-material.js")
    script(types="text/javascript", src="../deps/angular-loader/angular-loader.js")
  body
    block content